body{

    background-image: url("/BCA Project BUYZEE/Homepage/bodybg.jpeg"); 
     background-size: 100%;
    
}
li a, #righttop a{
    
    text-decoration:none;
    list-style: none;
    color: white;
}

#profile-logo p{
    color: white;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
 #profile-logo{
    display: flex;
    /* justify-content:center; */
    align-self: center;
    
    /* border: 2px solid rebeccapurple; */
 }   
 #logo{
    height:4.5em;
    width: 8em;
    padding: .25em .25em;
 }
.yellow{
    margin-top: .5rem;
    height: 30px;
    width: 30px;
}
ul{

    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 18em;
}
ul li{
    
    list-style: none;
    
    padding: 10px;
   

}

#header{
    display: flex;
    flex-direction: row;
    position:sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: .9;
  background-image: url("/BCA Project BUYZEE/Homepage/bodybg.jpeg");
}
#righttop{
    display: flex;
    /* justify-content: right; */
    /* margin-bottom: 50%; */
    /* border: 2px solid red; */
    margin-left: 2.5em;
    /* margin-top: 0.9rem; */
    align-self: center;
    flex-direction: row;
    width: 19rem;
    justify-content: space-between;
    /* padding: 20px; */
}
#logout{
    background-color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    border-radius:5px;
    width: fit-content;
    /* height: 3em; */
    text-align: center;
    padding: .5rem .5rem;
    font-weight: bold;

}
#user{
    font-weight: bold;
    text-align: center;
    padding-top: .5rem;
}
/* #login{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 7em;
    color:white;
    border-radius:5px;
    margin-top: 8px;
    background-color: green;
} */
.dropdown-center{
    display: flex;
    align-self: center;
    margin-left: 60px;
} 
    li a:hover{
        background-color: #fff;
        color: black;
        border-radius: 4px;
    }
    #logout:hover{
        scale: 1.1;
    }
    /* #login:hover{
        scale: 1.1;
    } */
    footer{
      
        position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
 
       
    }
    #footer{
        margin-top: 2.5em;
        margin-bottom: .5em;
        background-color:rgb(108, 182, 158);
    display: flex;
    
    /* align-self: center; */
    /* justify-content: space-around; */
    }
    .footerul{ 
        display: flex;
        flex-direction: column;
        
    }
    .footerul li{

        list-style: none;
        color: green;
        /* font-weight: bold; */
        /* font-size: large; */
        
    }
    
    #copyright{
        display: block;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        background-color: black;
        color: white;
        padding: .5em;
        /* margin-bottom: .5em; */
    }
#carousel{
    /* position: static; */
        border: 2px solid red;
    height: 300px;
    margin-top:5em;
    width:90%;
    margin-left: 5%;
    
    
}
.carousel-image{
    width: 100%;
    height: 300px;
}
.card{
   /* background-color:red; */
    opacity: .9;
    margin :4em;
    /* flex-direction:row; */
}
#card{
    margin: 0 5px;
    /* position: inherit; */
    border: .5px solid whitesmoke ;
    border-radius: 4px;
    box-shadow: 20px 20px 10px 15px rgb(253, 252, 252);
    /* margin-top: 10em; */
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: row;
     /* background:rgba(246, 169, 169, 0.835); */
    /* width: max-content; */
}
.card:hover{
    opacity: 1;
    scale: 1.1;
}

.seeall{
    height: 40px;
    width: 6em;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: bold;
    background-color:rgba(20, 241, 4, 0.504);
    color:white;
    text-decoration: none;
   padding: 8px 8px;
   
}
.seeall:hover{
    scale: 1.1;
    background-color: rgb(250, 142, 1);
    color:rgba(255, 255, 255, 0.994) ;
}
/* .carousel slide{

} */
.headings{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1em;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 3em;
    color: black;
    background:white;
    width: fit-content;
}


.add{
    height: 40px;
    width: 4em;
     /* margin-top: 10px; */
     /* margin-left: 2.5em;  */
    border-radius: 5px;
    font-family: cursive;
    font-weight: bold;
    font-size: large;
    background-color:rgb(11, 211, 28);
    color:white;
}
.add:hover{
    background-color:green;
    scale: .9;

}
.rupees{
    font-size: large;
    font-weight: bold;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
section{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


    .head{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:rgb(248, 251, 251);
        text-shadow: #fff;
        font-size: 100px;
        margin-left: 430px;
        margin-top: 10px;
        border: 20px;
        border-color: aquamarine;
        
    }
    
    .footerc{
        display: flex;
        flex-direction: column;
        margin-left:440px ;
        margin-top: 20px;
        /* justify-content: space-between; */
    }
    .footer{
        display: flex;
        flex-direction: row;
        margin-left:440px ;
        margin-top: 20px;

        /* justify-content: space-between; */
    }
    .footer p{
        margin-left: 1rem;
    }
    .img{
        width: 3rem;
    }
    
    p{
        border: 2px;
        color: rgb(253, 251, 251);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    svg{
        color: black;
    }
    .social{
        /* size: 20px; */
        display: flex;
        flex-direction: row;
       /* align-items: center; */
        /* width: 100%; */
        justify-content: center;
        
    }
    
    .img{
       width: 70px;
        margin:40px  80px;
        /* border: 2px; */
        border-radius: 5px;
    }
   